@font-face {
    font-family: Bold;
    src: url(../assets/font/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: Medium;
    src: url(../assets/font/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: Regular;
    src: url(../assets/font/PlayfairDisplay-Regular.ttf);
}